/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(230, 50%, 90%);
} */

.swiper {
  width: 100%;
  background-color: hsl(230, 100%, 97%);
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.main-text {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  background-color: hsl(230, 100%, 97%);
}

.card {
  width: 25em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  margin: 0 2em;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

.card__image {
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.card__text {
  font-size: 1.3rem;
  margin: 1em 0;
  text-align: center;
}

/* .card__btn {
  background-color: hsl(230, 62%, 56%);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
} */

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: hsl(230, 62%, 56%);
}

.button-container {
  background-color: hsl(230, 100%, 97%);
}

.past-events-button {
  font-size: 16px;
  background: hsl(230, 62%, 56%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 1px solid hsl(230, 62%, 56%);
  margin: 0 auto;
  display: block;
}

.past-events-button:hover {
  background-color: #999;
  transition: 0.5s ease;
}

.gen-ai {
  text-align: center;
  background-color: hsl(230, 100%, 97%);
  /* Change the background color */
  padding: 20px;
}

.gen-ai-image {
  display: inline-block;
  max-width: 100%;
  width: 300px;
  margin-bottom: 10px;
}